In [17]:
#Check working directory
import os
os. getcwd() 
#Change Working Directory
%cd C:\Users\malak\Desktop\bioinfomratics

C:\Users\malak\Desktop\bioinfomratics

In [8]:
#import Pandas
import pandas as pd
#import numpy
import numpy as np
#Open CSV file, hapc=Haplotype Comparison
hapc= pd.read_csv("phi_Assigment.csv")

In [13]:
#View data
print(hapc)

    Type Filter  TRUTH.TOTAL  TRUTH.TP  TRUTH.FN  QUERY.TOTAL  QUERY.FP  \
0  INDEL    ALL         8937      7839      1098        11812       343
1  INDEL   PASS         8937      7550      1387         9971       283
2    SNP    ALL        52494     52125       369        90092       582
3    SNP   PASS        52494     46920      5574        48078       143

   QUERY.UNK  FP.gt  FP.al  METRIC.Recall  METRIC.Precision  METRIC.Frac_NA  \
0       3520     45    283       0.877140          0.958635        0.298002
1       1964     30    242       0.844803          0.964656        0.196971
2      37348    107    354       0.992971          0.988966        0.414554
3        992      8     97       0.893816          0.996963        0.020633

   METRIC.F1_Score  TRUTH.TOTAL.TiTv_ratio  QUERY.TOTAL.TiTv_ratio  \
0         0.916079                     NaN                     NaN
1         0.900760                     NaN                     NaN
2         0.990964                2.082614                1.745874
3         0.942576                2.082614                2.089282

   TRUTH.TOTAL.het_hom_ratio  QUERY.TOTAL.het_hom_ratio
0                   1.357991                   1.457627
1                   1.357991                   1.239305
2                   1.594335                   3.132586
3                   1.594335                   1.487599

In [9]:
#Create a list that contains the following elements: Type, Filter, TRUTH.TP, TRUTH.FN, QUERY.FP, METRIC.Precision.

hapc_list=["Type", "Filter", "TRUTH.TP","TRUTH.FN", "QUERY.FP", "METRIC.Precision"]

# Use the list to subset the data frame and keep the desired columns.
hapc_sub=hapc[hapc_list]
#View hapc_sub
hapc_sub

    Type Filter  TRUTH.TP  TRUTH.FN  QUERY.FP  METRIC.Precision
0  INDEL    ALL      7839      1098       343          0.958635
1  INDEL   PASS      7550      1387       283          0.964656
2    SNP    ALL     52125       369       582          0.988966
3    SNP   PASS     46920      5574       143          0.996963

In [10]:
#Create two numpy arrays, one with the TRUTH.TP numbers and another with the QUERY.FP numbers
Truth_TP= np.array(hapc_sub["TRUTH.TP"])
QUERY_FP= np.array(hapc_sub["QUERY.FP"])

In [11]:
#Calculate precision using your numpy arrays. Hint: Precision = True Positives /(True Positives + False Positives)
precision= Truth_TP/(Truth_TP+QUERY_FP)

In [18]:
# Compare your values to the values in “METRIC.Precision”
METRIC=np.array(hapc_sub["METRIC.Precision"])
print(np.round(METRIC,2)==np.round(precision,2))

#view rounded values
print(np.round(precision,2))

[ True  True  True  True]
[0.96 0.96 0.99 1.  ]

array([0.95807871, 0.9638708 , 0.98895782, 0.99696152])